[submodule "dory_examples"]
	path = dory_examples
	url = https://github.com/pulp-platform/dory_examples
[submodule "_03_Hardware-targets/GAP8/Backend_Kernels/pulp-nn-1d"]
	path = _03_Hardware-targets/GAP8/Backend_Kernels/pulp-nn-1d
	url = git@github.com:pulp-platform/pulp-nn-1d.git
[submodule "_03_Hardware-targets/GAP8/Backend_Kernels/pulp-nn"]
	path = _03_Hardware-targets/GAP8/Backend_Kernels/pulp-nn
	url = git@github.com:pulp-platform/pulp-nn.git
[submodule "_03_Hardware-targets/GAP8/Backend_Kernels/pulp-nn-mixed"]
	path = _03_Hardware-targets/GAP8/Backend_Kernels/pulp-nn-mixed
	url = git@github.com:pulp-platform/pulp-nn-mixed.git
